html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #ffffff;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.container > a {
	margin: 0 1.2em;
}

#bookmarklet {
	margin-top: 50px;
}

#id-input {
	text-align: center;
}
